    .container {
      margin: 20px auto;
      max-width: 640px;
    }

    #display-image-data {
      max-width: 100%;
    }

    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }

    /* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
    .cropper-view-box {
        outline: 0;
        box-shadow: 0 0 0 1px #39f;
    }
#canvas2 {
    display: block;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    background: url('https://img.freepik.com/free-vector/sea-background-video-conferencing_23-2148609396.jpg');
    background-size: cover;
    margin: auto;
    height: 50vw;
    width: 80vw;
	border-style: groove;
	border-color: #303030;
	border-width: 1vw;
}
.start{
    display: block;
    width: 10vw;
    height: 6vw;
    color: black;
    background-color: white;
    padding-top: 1vw;
    font-size: 1.5vw;
}
.intro{
    display: block;
    width: 50vw;
    height: auto;
    z-index: 1;
    color: white;
    background-color: black;
    margin: auto;
	border-style: groove;
	border-color: #303030;
	border-width: 1vw;
}
.intro h1{
    font-size: 3vw;
    padding-top: 2vw;
}
.intro p{
    font-size: 2vw;
    padding-top: 2vw;
    padding-bottom: 3vw;
}
#canvas1 {
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
	display:none;
}
.dummy {
	width: 16vw;
	height: 10vw;
}
#crop_button {
	margin-bottom: 3vw;
}
#accelerate {
	width: 7vw;
	height: 3vw;
}
